.admin-body {
    background-color: white;
}

.admin-logo {
    max-width: 100px;
    max-height: 100px;
}

.list-unstyled > li {
    padding: 15px;
}

.admin-panel-heading, .admin-panel-footer {
    background-color: rgb(154, 201, 59);;
}

.orgconnections th, td {
    padding:0px 15px 0px 0px;
    text-align: left;
}